
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel Regular'), local('Abel-Regular'), url(http://fonts.gstatic.com/s/abel/v9/MwQ5bhbm2POE2V9BOA.ttf) format('truetype');
}

