
@import 'colors';
@import 'fonts';

body, html {
  margin: 0;
}

body {
  background-color: black;
}

.maintext {
  background-color: black;
  padding: 0.5em;

  h1 {
    color: $LightHeading;
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2 {
    color: $LightHeading;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
    color: $LightBody;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
  }
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  padding: 0.5em;
  background-color:$DeepGrey;

  .menu {
    margin: 0.5em;
    width: 20em;

    a {
      color: black;
      text-decoration-line: none;
    }

    ul {
      font-size: 1.2em;
      width: 10em;
      list-style: none;
      padding-inline-start: 0;
      color: black;

      li {
        display: block;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Abel', sans-serif;
      }
    }
  }

  .menuName {
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    background: $DeepYellow;
    padding: 0.5em 20%;
    border: none;
    border-radius: 0.4em;
  }
}

@media screen and ( min-width: 768px) {
  .header {
    .menu {
      background-color: $DeepGrey;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -90px;

      &>.menuName {
        border-radius: 50%;
        width: 200px;
        height: 100px;
        padding: 100px 0 0 0;
        text-align: center;
      }
      &>ul {
        position: absolute;
        margin: 0;
        padding: 0.4em;
        padding-top: 1.2em;
        display: block;
        border-radius: 1em;
        background-color: $DeepYellow;
        transition-property: transform;
        transform: translateY(-100px);
        transition-duration: 0.2s;
      }

      &:hover>ul  {
        transition-property: transform;
        transform: translateY(200px);
        transition-duration: 0.2s;
      }
    }
  }
}

@media screen and ( max-width: 767px) {
  .header {
    .menuName {
      padding: 0.5em;
      background-color: $DeepOrange;
    }

    .menu {
      background-color: $DeepYellow;
      border-radius: 50% 0 50% 1em;

      &>ul {
        margin: 1em;
        padding: 1em;
        margin: 0;
      }
    }
  }
}