
<div class="header">
  <% for(let layout of LayoutList) { %>
  <div class="menu">
    <span class="menuName"><%= layout %></span>
    <ul>

    <% for(let item of LayoutContentMap[layout] ) { %>
        <li><a href="<%= site.getLink(Layout, item.Layout, item.Name) %>">
        <%- item.FrontMatter.title -%>
        </a></li>
    <% } %>

    </ul>
  </div>
  <% } %>
</div>