<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= FrontMatter.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%- site.getLink('article', 'styles', 'main','css') -%>" rel="stylesheet">
  </head>
  <body>
<%- include('partials/main-header'); -%>
  <div class="maintext">
    <markdown>
      <%= Markdown %>
    </markdown>
  </main>
  
  </body>
</html>
